[submodule "ng-fusioncharts"]
	path = ng-fusioncharts
	url = https://github.com/sudodoki/angular-fusioncharts.git
[submodule "firebase-contacts"]
	path = firebase-contacts
	url = https://github.com/sudodoki/contacts-firebase-angular.git
